<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Nearby Police Officers</title>
  <link rel="stylesheet" href="/public/nearPolice.css">
  <link href='https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.css' rel='stylesheet' />
</head>
<body>
  <h1 id="heading-title">Police Near By Location</h1>
  <div id="map" style="width: 70%; height: 80vh; "></div>

  <script src='https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.js'></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script>
    mapboxgl.accessToken = 'pk.eyJ1IjoieWVzaHdhbnRoLTIwMDIiLCJhIjoiY2x5ZzR0MW5yMDV2MzJqc2Q4bzJ6b3BmcCJ9.XTSGWy-RZXGe62M9EFzPTQ';
    const map = new mapboxgl.Map({
          container: 'map',
          style: 'mapbox://styles/mapbox/satellite-streets-v11',
          center: [0,0], 
          zoom: 14
        });
        map.addControl(new mapboxgl.GeolocateControl({
      positionOptions: {
        enableHighAccuracy: true
      },
      trackUserLocation: true
    }));
    
    axios.get('/api/nearPolicePost')
      .then(response => {
        const nearbyPolice = response.data;
        console.log(nearbyPolice);
        
       if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(position => {
        const { latitude, longitude } = position.coords;
        console.log("users",[latitude,longitude]);
  map.setCenter([longitude, latitude]);

        new mapboxgl.Marker({ color: 'green' })
          .setLngLat([longitude, latitude])
          .addTo(map);
      }, error => { 
        console.error('Error getting user location:', error);
      });
    } else {
      console.error('Geolocation is not supported by this browser.');
    }

    for (let i = 0; i < nearbyPolice.length; i++) {
      new mapboxgl.Marker({ color: 'red' })
        .setLngLat([nearbyPolice[i].location.coordinates[1], nearbyPolice[i].location.coordinates[0]])
        .addTo(map);
    }

        nearbyPolice.forEach(police => {
          console.log(police);
          const [longitude, latitude] = police.location.coordinates;
          new mapboxgl.Marker({ color: 'red' })
            .setLngLat([latitude, longitude])
            .setPopup(new mapboxgl.Popup().setHTML(`
        <div style="padding: 10px; font-family: Arial, sans-serif; text-align: center; background-color: #f0f0f0; border-radius: 5px; box-shadow: 0 0 10px rgba(0,0,0,0.1);">
          <h3 style="color: #68bb62; margin: 0 0 10px;">${police.user_id}</h3>
          <p style="color: #333; margin: 0;">Distance: ${police.distance.toFixed(2)} meters</p>
        </div>
      `)) // Optional: Add a popup with police info
            .addTo(map);
        });
      })
      .catch(error => console.error('Error fetching nearPolicePost data:', error));
  </script>
</body>
</html>
